.sideBarStyle {
	float: left;
	position: fixed;
	width: 250px;
	z-index: 20;
	background-color: red;
	transition: 0.5s ease;
}

.floatSideBarShow,
.floatSideBarHide {
	transform: translate(0px);
}

.floatSideBarHide {
	transform: translate(-250px);
}

.transitionEffect {
	transition: 0.5s ease;
}

.itemShopShow,
.itemShopHide {
	float: right;
	width: 83%;
	margin-top: 6px;
}

.itemShopHide {
	width: 97%;
}
