.contentContainer {
	width: 100%;
	display: block;
	flex-direction: column;
	transition: 0.5s ease-in-out;
}

.dormantContainer {
	height: 0;
	/* visibility: hidden; */
	/* display: none; */
	margin: 0px;
	overflow: hidden;
	/* transition: 0.5s ease-in-out; */
	padding-left: 10px;
}

.activeContainer {
	/* height: 100%; */
	/* visibility: visible; */
	/* display: block; */
	/* height: 100%; */
	/* display: block; */
	animation-name: grow;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes grow {
	0% {
		height: 0px;
		overflow: hidden;
	}
	99% {
		overflow: hidden;
	}
	100% {
		height: 100%;
		overflow: visible;
	}
}

.noList {
	list-style: none;
}

.contentItem {
	padding: 5px 10px;
	width: 100%;
	color: #808080;
	cursor: pointer;
}

@keyframes borderShow {
	from {
		border-left: 0px;
	}
	to {
		border-left: 5px solid #17a2b8;
	}
}

.contentSelected {
	animation: borderShow 0.2s forwards;
	background-color: #f5f5f5;
	color: black;
	padding: 8px 20px;
}

.widthLoss {
	width: 93%;
}
