.cardHover {
	box-shadow: none;
	max-width: 286px;
	transition: 0.5s ease;
}

.cardHover:hover {
	box-shadow: 0px 0px 10px 1px #808080;
}

.imgRestrict {
	overflow: hidden;
	max-height: 190px;
}

.link {
	color: black;
	flex: 1;
}

.link:hover {
	color: grey;
	text-decoration: solid;
}

.rating {
	width: 70px;
	height: 25px;
	background-color: dodgerblue;
}
