.navBarListItem {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.amountMargin {
	padding: 8px;
}

@media screen and (max-width: 840px) {
	.navBarListItem {
		width: 100vw;
		justify-content: left;
	}
}
