.list {
	transition: 0.3s ease;
	float: left;
}

.listLink {
	color: black;
}

.listLink:hover {
	text-decoration: solid;
}

.hideSubMenu {
	transition: 0.3s ease;
	top: -200px;
	position: fixed;
	opacity: 0;
}

.Dflex {
	display: inline-flex;
}

.orderEnd {
	order: 20;
}

.BBottom {
	transition: 0.3s ease;
	border-bottom: 1px solid #fff;
	display: flex;
	background-color: #fff;
}

.marginLeft {
	margin-right: 20px;
}
