/* Navigation menu design */
.navigationMenuContainer {
	width: 35px;
	border-radius: 50%;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.navigationMenuContainer:hover {
	background-color: #f8f4f4;
}

.Navigation {
	width: 5px;
	height: 32px;
	border-radius: 3px;
}

.Navigation div {
	position: relative;
	width: 76%;
	height: 4px;
	background-color: #000;
	border-radius: 2px;
	top: 14px;
	left: 0px;
	transition: 0.5s ease;
}

.Navigation div:before,
.Navigation div:after {
	content: "";
	position: absolute;
	z-index: 1;
	border-radius: inherit;
	width: 100%;
	height: 4px;
	background-color: inherit;
	top: -9px;
	left: 0px;
	transition: 0.5s ease;
}

.Navigation div:after {
	top: 9px;
}

/* toggle effects */
.changed {
	background-color: rgba(255, 255, 255, 0);
	width: 20;
}

.changed div:before,
.changed div:after {
	transform: rotate(0deg);
	top: 0px;
	background-color: black;
	width: 500%;
}

.changed div:after {
	transform: rotate(90deg);
}

.changed div {
	transition: 0.5s;
	transform: rotate(-225deg);
}
