.style {
	padding-top: 60px;
	top: -5px;
	height: 100vh;
	display: flex;
	position: fixed;
	flex-direction: column;
	background-color: #ffffff;
	border-right: 1px solid #000;
	width: 250px;
	color: red;
	float: left;
	/* overflow-y: scroll; */
}

.link {
	color: #808080;
	border: none;
	background-color: white;
	cursor: pointer;
}

.link:hover {
	text-decoration: solid;
	color: #000000;
}

.link:focus {
	outline: none;
}
