.style {
	height: 100vh;
	display: flex;
	position: fixed;
	flex-direction: column;
	background-color: #ffffff;
	border-right: 1px solid #000;
	width: 250px;
	color: red;
	float: left;
	/* overflow-y: scroll; */
	padding: 5;
}
